rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /dates/{date}/results/{nickname} {
      allow read, write: if true;
    }
  }
}
